@font-face {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff"),
    url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff"),
    url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff") format("woff"),
    url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  margin: 0;
  min-height: 100%;
  font-size: 14px;
  line-height: 18px;
}
img {
  max-width: 100%;
  min-height: auto;
  object-fit: contain;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.main-header {
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  min-height: 66px;
}
.main-header__wrapper {
  position: relative;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 65px;
}
.main-header__logo {
  margin-right: 56px;
}
.main-header__logo:hover {
  opacity: 80%;
}
.main-header__logo:active {
  opacity: 60%;
}
.main-header__logo-2:hover {
  opacity: 60%;
}
.main-header__logo-2:active {
  opacity: 60%;
}
.main-header__toggle {
  position: relative;
  z-index: 2;
  display: block;
  padding: 0;
  width: 70px;
  height: 50px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.main-header__toggle::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 32px;
  width: 36px;
  height: 1.5px;
  background-color: #000000;
  border: none;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  --active {
    display: block;
  }
}
.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 70px;
  z-index: 10;
  min-height: 80vh;
  background-color: #6a4d38;
}
.main-header__toggle--switch {
  position: relative;
  top: 0;
  right: auto;
  left: 0;
}
.main-header__toggle--switch::before,
.main-header__toggle--switch::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 25px;
  height: 2px;
  background-color: #000000;
}
.main-header__toggle--switch::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-header__toggle--switch::after {
  transform: rotate(-45deg);
}
.main-header__toggle--switch:active::before,
.main-header__toggle--switch:active::after {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 61px;
    margin-bottom: 51px;
  }
  .main-header__box {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 177px 513px;
    gap: 0 35px;
  }
  .main-header__wrapper {
    padding: 0;
    width: auto;
  }
  .main-header__logo {
    margin: 0;
  }
  .main-header__logo:hover {
    opacity: 80%;
  }
  .main-header__logo:active {
    opacity: 60%;
  }
  .main-header__logo-image {
    width: 174px;
    height: 51px;
  }
  .main-header__logo-2 {
    display: none;
  }
  .main-header__toggle {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-header {
    min-height: 174px;
    background-color: inherit;
    margin-bottom: 14px;
  }
  .main-header__box {
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 201px 867px;
    gap: 0 150px;
    align-items: center;
  }
  .main-header__logo-image {
    width: 202px;
    height: 59px;
  }
  .main-header__box--index {
    grid-template-columns: 201px 497px;
    gap: 0 521px;
  }
  .main-header__box--index .site-list__link {
    color: #ffffff;
    padding: 0;
    padding-bottom: 8px;
  }
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    z-index: 2;
  }
  .main-nav__list {
    z-index: 1;
    gap: 35px;
  }
}
.site-list__item {
  margin: 0;
  border-bottom: 1px solid #e6e6e6;
}
.site-list__link {
  display: inline-block;
  padding: 16px 18px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
.site-list__link:hover {
  opacity: 60%;
}
.site-list__link:active {
  opacity: 30%;
}
@media (min-width: 768px) {
  .site-list__item {
    border: none;
  }
  .site-list__link {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .site-list__link--curent::before {
    position: absolute;
    content: "";
    height: 2px;
    width: calc(100% - 37px);
    bottom: 7px;
    background-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    padding-bottom: 8px;
  }
  .site-list__link--curent::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    background-color: #ffffff;
  }
  .site-list__link--curent-2::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    background-color: #68b738;
  }
}
.promo {
  position: relative;
}
.promo::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 302px;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../images/index/promo/promo-cat-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo::before {
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../images/index/promo/promo-cat-mobile@2x.jpg");
    background-size: contain;
  }
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 17px;
}
.promo__header {
  margin-top: 27px;
}
.promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.promo__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  margin: 0;
  padding: 7px 44px;
  cursor: pointer;
  text-transform: uppercase;
}
.promo__button:hover {
  background-color: #5eaa2f;
}
.promo__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
@media (min-width: 768px) {
  .promo::before {
    display: none;
  }
  .promo__wrapper {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .promo__header {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    margin: 0;
  }
  .promo__container {
    align-items: flex-start;
    text-align: left;
    order: -4;
  }
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
    color: #000000;
    max-width: 417px;
  }
  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 48px;
    color: #000000;
  }
  .promo__image {
    display: flex;
    order: -3;
    margin-top: -102px;
    width: 709px;
    height: 609px;
  }
  .promo__button {
    display: flex;
    order: -3;
    width: 244px;
    height: 54px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    margin: 0;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .promo {
    position: inherit;
    min-height: 556px;
    margin-bottom: 32px;
  }
  .promo::before {
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 694px;
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../images/index/promo/promo-cat-desktop.jpg");
    top: 0;
    left: 50%;
    background-size: cover;
  }
  .promo__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0;
  }
  .promo__header {
    display: grid;
    grid-template-columns: 416px 1fr;
    grid-template-rows: auto;
    gap: 0;
    padding-left: 80px;
  }
  .promo__container {
    padding: 0;
  }
  .promo__title {
    margin-top: 36px;
    margin-bottom: 40px;
  }
  .promo__slogan {
    margin-bottom: 51px;
  }
  .promo__image {
    position: absolute;
    top: 243px;
    right: 330px;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 552px;
    height: 499px;
  }
  .promo__button {
    grid-column: 1/2;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo::before {
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../images/index/promo/promo-cat-desktop@2x.jpg");
    background-size: cover;
  }
}
.service__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.service__container {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 33px 20px 20px 20px;
  min-height: 256px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.service__title {
  display: flex;
  align-items: center;
  padding-left: 69px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
}
.service__container::before {
  position: absolute;
  top: 26px;
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../images/index/service/service-circle.svg");
  background-repeat: no-repeat;
}
.service__container::after {
  position: absolute;
  top: 22px;
  left: 29px;
  display: inline-block;
  content: "";
  width: 50px;
  height: 53px;
  background-image: url("../images/index/service/service-image-1.svg");
  background-repeat: no-repeat;
}
.service__container--2::after {
  position: absolute;
  top: 39px;
  left: 12px;
  display: inline-block;
  content: "";
  width: 67px;
  height: 50px;
  background-image: url("../images/index/service/service-image-2.svg");
  background-repeat: no-repeat;
}
.service__description {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}
.service__link {
  position: relative;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.service__link:hover {
  opacity: 60%;
}
.service__link:active {
  opacity: 30%;
}
.service__link-icon {
  position: absolute;
  top: 7px;
  right: -38px;
  transform: scaleX(1);
  transform-origin: center;
  transition: transform 0.5s;
}
.service__link-icon:hover {
  transform: scaleX(1.4);
}
@media (min-width: 768px) {
  .service__wrapper {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .service__container {
    position: relative;
    margin-bottom: 30px;
    padding: 77px 316px 53px 52px;
    min-height: 372px;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }
  .service__container::before {
    position: absolute;
    left: auto;
    top: 92px;
    right: 61px;
    display: inline-block;
    content: "";
    width: 200px;
    height: 200px;
    background-image: url("../images/index/service/service-circle.svg");
    background-repeat: no-repeat;
    background-size: 200px;
  }
  .service__container::after {
    top: 80px;
    left: auto;
    right: 79px;
    width: 174px;
    height: 219px;
    background-size: 185px 194px;
  }
  .service__container--2::after {
    top: 92px;
    left: auto;
    right: 25px;
    width: 270px;
    height: 206px;
    background-size: 268px 197px;
  }
  .service__description br {
    display: none;
  }
  .service__title {
    margin-bottom: 24px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
  .service__description {
    font-size: 16px;
    line-height: 24px;
    border: none;
    margin-bottom: 29px;
  }
  .service__link {
    font-size: 20px;
    line-height: 30px;
  }
  .service__link-icon {
    top: 9px;
    right: -52px;
  }
}
@media (min-width: 1440px) {
  .service__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    width: 1220px;
    padding: 0 110px;
  }
  .service__container {
    margin-bottom: 71px;
    padding: 77px 61px 55px 52px;
    min-width: 570px;
    min-height: 374px;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }
  .service__container::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
    background-size: 100px;
  }
  .service__container::after {
    top: 41px;
    left: 26px;
    width: 115px;
    height: 100px;
    background-size: 153px 96px;
  }
  .service__container--2::after {
    top: 41px;
    left: 32px;
    width: 160px;
    height: 984px;
    background-size: 135px 109px;
  }
  .service__title {
    margin-bottom: 72px;
    padding-left: 162px;
  }
  .service__description {
    margin-bottom: 28px;
    padding: 0;
  }
}
.benefits__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 380px;
}
.benefits__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
.benefits__list {
  padding-top: 20px;
  padding-bottom: 53px;
}
.benefits__item {
  display: flex;
  align-items: center;
}
.benefits__item:not(:last-child) {
  margin-bottom: 20px;
}
.benefits__item--1::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-1.svg");
  background-repeat: no-repeat;
}
.benefits__item--2::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-2.svg");
  background-repeat: no-repeat;
  top: -2px;
}
.benefits__item--3::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-3.svg");
  background-repeat: no-repeat;
  top: -2px;
}
.benefits__item--4::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-4.svg");
  background-repeat: no-repeat;
  top: -2px;
}
.benefits__description {
  font-family: "Lato Regular", "Arial", sans-serif;
  color: #444444;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .benefits {
    margin-bottom: 69px;
  }
  .benefits__wrapper {
    width: 708px;
    padding: 0 30px;
    padding-top: 15px;
  }
  .benefits__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 28px;
  }
  .benefits__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 64px;
    padding: 0;
  }
  .benefits__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 230px;
    min-height: 280px;
  }
  .benefits__item:not(:last-child) {
    margin: 0;
  }
  .benefits__item--1::before {
    width: 80px;
    height: 80px;
    background-image: url("../images/index/benefits/benefits-image-1-tablet.svg");
    margin-top: 43px;
  }
  .benefits__item--2::before {
    width: 80px;
    height: 80px;
    background-image: url("../images/index/benefits/benefits-image-2-tablet.svg");
    margin-top: 43px;
  }
  .benefits__item--3::before {
    width: 80px;
    height: 80px;
    background-image: url("../images/index/benefits/benefits-image-3-tablet.svg");
    margin-top: 43px;
  }
  .benefits__item--4::before {
    width: 80px;
    height: 80px;
    background-image: url("../images/index/benefits/benefits-image-4-tablet.svg");
    margin-top: 43px;
  }
  .benefits__item--1::after {
    position: absolute;
    content: "1";
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    width: 112px;
    background-repeat: no-repeat;
    top: 4px;
    right: 90px;
    z-index: -1;
  }
  .benefits__item--2::after {
    position: absolute;
    content: "2";
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    width: 134px;
    background-repeat: no-repeat;
    top: 4px;
    right: 77px;
    z-index: -1;
  }
  .benefits__item--3::after {
    position: absolute;
    content: "3";
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    width: 134px;
    background-repeat: no-repeat;
    top: 4px;
    right: 73px;
    z-index: -1;
  }
  .benefits__item--4::after {
    position: absolute;
    content: "4";
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    width: 136px;
    background-repeat: no-repeat;
    top: 4px;
    right: 73px;
    z-index: -1;
  }
  .benefits__description {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
  }
}
@media (min-width: 1440px) {
  .benefits {
    margin-bottom: 61px;
  }
  .benefits__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
  }
  .benefits__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 80px;
  }
  .benefits__item--1::after {
    right: 15px;
  }
  .benefits__item--2::after {
    right: 0;
  }
  .benefits__item--3::after {
    right: -2px;
  }
  .benefits__item--4::after {
    right: -5px;
  }
}
.example {
  background-color: #eaeaea;
}
.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.example__container {
  padding-top: 25px;
  padding-bottom: 40px;
}
.example__title {
  margin: 0;
  margin-bottom: 37px;
  padding-left: 20px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
.example__description br {
  display: none;
}
.example__description {
  margin: 0;
  margin-bottom: 18px;
  font-family: "Lato Regular", "Arial", sans-serif;
  color: #444444;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.example__list {
  display: grid;
  grid-template-columns: 124px 124px;
  gap: 0 32px;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}
.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 10px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.example__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.example__description-2 {
  margin: 0;
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  position: absolute;
  top: 47px;
  padding: 0 15px;
  background-color: #eaeaea;
}
.example__expences-container {
  display: flex;
  justify-content: center;
}
.example__expences {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-right: 7px;
  text-align: center;
  text-transform: uppercase;
}
.example__expences-2 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.example__image-container {
  width: 280px;
  padding: 0 20px;
  padding-bottom: 21px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    margin-bottom: 110px;
  }
  .example__wrapper {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: #ffffff;
  }
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 61px;
  }
  .example__description {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }
  .example__description-2 {
    background-color: #ffffff;
    top: 63px;
    max-width: 125px;
    font-size: 14px;
    line-height: 14px;
  }
  .example__description-2 br {
    display: none;
  }
  .example__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .example__list {
    display: grid;
    grid-template-columns: 164px 164px;
    gap: 0 42px;
    margin: 0;
    margin-bottom: 55px;
  }
  .example__number {
    font-size: 30px;
    line-height: 37px;
  }
  .example__expences-container {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .example__expences {
    font-size: 20px;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 9px;
    margin-right: 2px;
  }
  .example__expences-2 {
    font-size: 20px;
    line-height: 20px;
    margin-right: 2px;
  }
  .example__image-container {
    padding: 0;
  }
  .example__image {
    width: 560px;
    height: 512px;
  }
}
@media (min-width: 1440px) {
  .example {
    background-color: #eaeaea;
  }
  .example__title-container {
    background-color: #ffffff;
    min-height: 136px;
    margin-bottom: 71px;
  }
  .example__title {
    padding-left: 110px;
    font-size: 60px;
    line-height: 60px;
  }
  .example__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 224px;
  }
  .example__container {
    padding: 0;
  }
  .example__description {
    width: 432px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 66px;
  }
  .example__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .example__list {
    display: grid;
    grid-template-columns: 162px 162px;
    gap: 55px 42px;
    margin-bottom: 61px;
  }
  .example__description-2 {
    background-color: #eaeaea;
  }
  .example__expences-container {
    display: grid;
    grid-template-columns: 174px 90px;
    gap: 0 63px;
  }
  .example__expences {
    margin: 0;
  }
}
.contacts {
  position: relative;
  background-color: #ffffff;
}
.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.contacts__container {
  display: flex;
  box-sizing: border-box;
  padding: 26px 0;
}
.contacts__description {
  width: 139px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
.contacts__text {
  margin: 0;
  width: 139px;
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
.contacts__text-2 {
  margin: 0;
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
iframe {
  border: 0;
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    width: 708px;
    padding: 0 30px;
  }
  .contacts__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 54px 40px 55px 39px;
  }
  .contacts__description {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }
  .contacts__text {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 20px;
    min-width: 159px;
  }
  .contacts__text-2 {
    margin: 0;
    text-align: right;
    font-family: "Lato Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
  }
  iframe {
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    position: relative;
  }
  .contacts__wrapper {
    position: absolute;
    top: 90px;
    left: 110px;
    width: 565px;
    min-height: 198px;
    padding: 0;
  }
  .contacts__container {
    padding: 60px 80px 58px 80px;
    background-color: #ffffff;
  }
  .contacts__text {
    text-align: left;
  }
  .contacts__text-2 {
    text-align: left;
  }
}
.main-footer {
  background-color: #f2f2f2;
}
.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;
  border-bottom: 1px solid #d9d9d9;
}
.main-footer__logo:hover {
  opacity: 80%;
}
.main-footer__logo:disabled {
  opacity: 60%;
}
.main-footer__logo-2 {
  padding-top: 7px;
}
.main-footer__social {
  border-bottom: 1px solid #d9d9d9;
}
.main-footer__copyright {
  display: flex;
  align-items: center;
  min-height: 78px;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 708px;
    padding: 0 30px;
    min-height: 158px;
    display: grid;
    grid-template-columns: 168px 200px 169px;
    align-items: center;
    justify-content: space-between;
  }
  .main-footer__logo {
    border: none;
    justify-content: flex-start;
  }
  .main-footer__logo-image-2 {
    width: 142px;
    height: 27px;
  }
  .main-footer__social {
    border: none;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    width: 1220px;
    padding: 0 110px;
  }
}
.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 63px;
}
.socials__item:not(:last-child) {
  margin-right: 29px;
}
.socials__icon {
  color: #666666;
}
.socials__link:hover .socials__icon {
  color: #68b738;
}
.socials__link:disabled .socials__icon {
  opacity: 30%;
}
@media (min-width: 768px) {
  .socials__list {
    margin-top: 6px;
  }
}
.copyright__link {
  display: flex;
  align-items: center;
  min-width: 281px;
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
.copyright__icon {
  margin-left: 141px;
  color: #666666;
}
.copyright__link:hover .copyright__icon {
  color: #68b738;
}
.copyright__link:disabled .copyright__icon {
  opacity: 30%;
}
@media (min-width: 768px) {
  .copyright__icon {
    margin-left: 29px;
  }
}
.products__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.products__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 49px;
  box-sizing: border-box;
}
.products__list {
  margin-bottom: 49px;
}
.products__item {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .products__wrapper {
    width: 708px;
    margin-bottom: 108px;
    padding: 0 30px;
  }
  .products__title {
    margin-top: 52px;
    margin-bottom: 86px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 107px 60px;
  }
  .products__item {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .products__wrapper {
    width: 1220px;
    margin-bottom: 116px;
    padding: 0 110px;
  }
  .products__title {
    margin: 0;
    margin-bottom: 84px;
  }
  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px 80px;
  }
}
.product__container {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.product__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
}
.product--show-more {
  position: relative;
  padding-top: 71px;
}
.product--show-more::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 31px;
  left: 125px;
  background-color: #d3d3d3;
}
.product--show-more::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 31px;
  left: 125px;
  background-color: #d3d3d3;
  transform: rotate(90deg);
}
.product__item-container {
  min-width: 140px;
}
.product__description {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.product__list-definition {
  margin: 0;
}
.product__list-container {
  display: flex;
}
.product__list-term {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.product__list-description {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-left: auto;
}
.product__link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  min-height: 40px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #68b738;
  text-transform: uppercase;
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;
}
.product__link-button:hover {
  background-color: #5eaa2f;
}
.product__link-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
.product__container--show-more {
  width: 279px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.product__description--show-more {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  text-align: center;
}
.product__more-description--show-more {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
}
.product__show-button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 279px;
  height: 40px;
  box-sizing: border-box;
  color: #444444;
  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 10px 94px;
  border: none;
}
@media (min-width: 768px) {
  .product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .product:nth-child(7) {
    padding-top: 30px;
  }
  .product--show-more {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .product--show-more::before {
    width: 60px;
    top: 156px;
    left: 132px;
  }
  .product--show-more::after {
    width: 60px;
    top: 155px;
    left: 133px;
  }
  .product__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
  }
  .product__container--show-more {
    width: 165px;
    margin: 0;
    padding-top: 80px;
  }
  .product__image-container {
    width: 100%;
    justify-content: center;
    margin-bottom: 29px;
  }
  .product__image {
    width: 161px;
    height: 172px;
  }
  .product__image--big {
    width: 168px;
    height: 206px;
  }
  .product__image--violet {
    width: 163px;
    height: 174px;
  }
  .product__item-container {
    width: 244px;
  }
  .product__description {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    max-width: 159px;
    margin: 0;
    margin-left: 44px;
    margin-bottom: 21px;
  }
  .product__description br {
    display: none;
  }
  .product__more-description {
    font-family: "Lato Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    max-width: 165px;
    margin: 0;
    margin-left: 40px;
  }
  .product__more-description--show-more {
    margin-bottom: 86px;
  }
  .product__list-term {
    font-family: "Lato Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
  }
  .product__list-description {
    font-family: "Lato Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
  }
  .product__list-definition {
    margin: 0;
  }
  .product__list-definition:not(:last-child) {
    margin-bottom: 14px;
  }
  .product__link-button {
    margin: 0 auto;
    width: 248px;
    padding: 10px 93px;
  }
  .product__show-button {
    width: 249px;
    padding: 20px 79px;
  }
  .product__show-button:hover {
    background-color: #ebebeb;
  }
  .product__show-button:active {
    color: rgba(68, 68, 68, 0.3);
    background-color: #ebebeb;
  }
}
@media (min-width: 1440px) {
  .product {
    width: 245px;
  }
  .product__image-container {
    margin-bottom: 44px;
  }
  .product__image--big {
    width: 172px;
    height: 196px;
  }
  .product--show-more::before {
    top: 76px;
    left: 94px;
  }
  .product--show-more::after {
    top: 75px;
    left: 94px;
  }
  .product__item-container {
    width: 167px;
  }
  .product__description {
    max-width: 159px;
    font-size: 20px;
    line-height: 21px;
    margin: 0;
    margin-left: 9px;
    margin-bottom: 25px;
  }
  .product__link-button {
    margin: 0 auto;
    width: 168px;
    padding: 10px 53px;
  }
  .product__show-button {
    width: 169px;
    padding: 20px 39px;
  }
}
.product-show {
  min-height: 158px;
}
.product-show__wrapper {
  width: 320px;
  margin: 0 auto;
}
.product-show__show-more {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.product-show__show-more-description {
  font-family: "Lato Regular", "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.product-show__button {
  width: 279px;
  min-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.target-container {
  position: relative;
  padding-bottom: 34px;
}
.target-container__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.target-container__title {
  display: inline-block;
  padding-right: 21px;
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 34px;
}
.target-container__title::before {
  content: "";
  position: absolute;
  top: 14px;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
}
@media (min-width: 768px) {
  .target-container {
    margin-bottom: 76px;
    padding: 0;
  }
  .target-container::before {
    content: "";
    position: absolute;
    top: 22px;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }
  .target-container__wrapper {
    width: 708px;
    padding: 0 30px;
  }
  .target-container__title {
    padding-left: 36px;
    padding-right: 37px;
    background-color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    border: none;
    margin-bottom: 80px;
  }
  .target-container__title::before {
    content: none;
  }
}
@media (min-width: 1440px) {
  .target-container__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin-bottom: 20px;
  }
  .target-container__box {
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 81px 79px;
  }
  .target-container__title {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin: 0;
    margin-left: -35px;
    margin-bottom: 80px;
  }
}
.additional-products__wrapper {
  width: 320px;
  margin: 0 auto;
}
.additional-products__list {
  margin-bottom: 34px;
}
.additional-products__item {
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: min-content min-content min-content;
  margin-bottom: 12px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}
.additional-products__item:first-child {
  padding-top: 13px;
  border-top: 1px solid #cdcdcd;
}
.additional-products__value {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.additional-products__term {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin-bottom: 15px;
}
.additional-products__description {
  grid-row: 2/3;
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  color: #444444;
}
.additional-products__button {
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #68b738;
  text-transform: uppercase;
  padding: 10px 124px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .additional-products__list {
    margin-bottom: 69px;
    border: 1px solid #cdcdcd;
  }
  .additional-products__item {
    display: grid;
    grid-template-columns: 358px 132px 42px;
    grid-template-rows: min-content min-content;
    gap: 25px 49px;
    margin: 0;
    padding: 26px 38px 27px 38px;
    border: none;
  }
  .additional-products__item:not(:last-child) {
    border-bottom: 1px solid #cdcdcd;
  }
  .additional-products__item:first-child {
    padding-top: 27px;
    border: none;
  }
  .additional-products__value {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
  .additional-products__term {
    display: flex;
    justify-content: end;
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 16px;
    line-height: 20px;
  }
  .additional-products__description {
    display: flex;
    justify-content: space-around;
    margin: 0;
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 16px;
    line-height: 20px;
    font-family: "Lato Regular", "Arial", sans-serif;
  }
  .additional-products__button {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
@media (min-width: 1440px) {
  .additional-products__list {
    border: none;
  }
  .additional-products__item {
    display: grid;
    grid-template-columns: 287px 199px 42px 244px;
    grid-template-rows: min-content min-content;
    gap: 0 40px;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 17px;
    border-bottom: 1px solid #cdcdcd;
  }
  .additional-products__item:first-child {
    border-bottom: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    padding-top: 16px;
  }
  .additional-products__value {
    display: flex;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .additional-products__term {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .additional-products__description {
    display: flex;
    align-items: center;
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .additional-products__button {
    width: 100%;
    grid-column: 4/5;
    margin: 0;
  }
}
.gift {
  position: relative;
}
.gift::before {
  display: block;
  content: "";
  width: 100%;
  height: 290px;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../images/catalog/gift/catalog-cat-in-bag-mobile.jpg");
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .gift::before {
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../images/catalog/gift/catalog-cat-in-bag-mobile@2x.jpg");
    background-size: cover;
  }
}
.gift::after {
  position: absolute;
  top: 58px;
  left: 101px;
  display: inline-block;
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../images/catalog/gift/icon-gift.svg");
  z-index: 5;
}
.gift__description {
  position: absolute;
  margin: 0;
  bottom: 44px;
  left: 58px;
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .gift::before {
    display: block;
    content: "";
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../images/catalog/gift/catalog-cat-in-bag-tablet.jpg");
    background-repeat: no-repeat;
  }
  .gift::after {
    top: 58px;
    left: 79px;
  }
  .gift__description {
    max-width: 161px;
    text-align: left;
    padding: 27px 32px 26px 365px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .gift::before {
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../images/catalog/gift/catalog-cat-in-bag-tablet@2x.jpg");
  }
}
@media (min-width: 1440px) {
  .gift::before {
    display: block;
    content: "";
    width: 100%;
    height: 289px;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../images/catalog/gift/catalog-cat-in-bag-desktop.jpg");
    background-repeat: no-repeat;
  }
  .gift__description {
    position: absolute;
    padding: 0;
    bottom: 114px;
    left: 42px;
    text-align: center;
  }
  .gift::after {
    position: absolute;
    top: 56px;
    left: 83px;
    display: inline-block;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../images/catalog/gift/icon-gift.svg");
    z-index: 5;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1440px) and (min-resolution: 2dppx) {
  .gift::before {
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../images/catalog/gift/catalog-cat-in-bag-desktop@2x.jpg");
  }
}
.form-content__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form-content__wrapper {
    width: 708px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .form-content__wrapper {
    width: 1220px;
    padding: 0 110px;
  }
}
.form-item {
  margin: 0;
  padding: 0;
}
.form-item__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.form-item__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}
.form-item__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 37px;
  text-transform: uppercase;
}
.form-item__info {
  margin-bottom: 43px;
}
.form-item__container {
  display: flex;
  align-items: center;
}
.form-item__container:not(:last-child) {
  margin-bottom: 9px;
}
.form-item__label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin-right: 19px;
}
.form-item__input {
  flex-grow: 1;
  height: 45px;
  border: 1px solid;
  border-color: #e7e7e7;
  padding-left: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form-item__input:hover {
  border-color: #cdcdcd;
}
.form-item__input:focus {
  outline: 2px solid #444444;
}
@media (min-width: 768px) {
  .form-item__wrapper {
    width: 632px;
    margin: 0 auto;
    padding-left: 69px;
    padding-right: 67px;
  }
  .form-item__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 54px;
  }
  .form-item__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
  .form-item__info {
    margin-bottom: 72px;
  }
  .form-item__container:not(:last-child) {
    margin-bottom: 24px;
  }
  .form-item__label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 15px;
  }
  .form-item__input {
    height: 45px;
    border: 1px solid;
    border-color: #e7e7e7;
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .form-item__wrapper {
    width: 1220px;
    padding: 0 110px;
  }
  .form-item__description {
    margin-bottom: 67px;
  }
  .form-item__box {
    display: grid;
    grid-template-columns: 569px 570px;
    gap: 0 80px;
    margin-bottom: 65px;
  }
  .form-item__container {
    display: flex;
  }
  .form-item__info {
    margin: 0;
  }
}
.form-radio {
  min-height: 116px;
  margin-bottom: 40px;
}
.form-radio__item:not(:last-child) {
  margin-bottom: 25px;
}
.form-radio__control {
  position: relative;
  display: block;
  padding-left: 46px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
}
.form-radio__control-mark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
.form-radio__control-input[type="radio"]:checked
  ~ .form-radio__control-mark::before,
.form-radio__control-input[type="radio"]:checked
  ~ .form-radio__control-mark::after {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 14px;
  height: 14px;
  content: "";
  background-image: url("../images/form/radio/radio-icon.svg");
  background-repeat: no-repeat;
}
.form-radio__control-input:hover ~ span {
  border-color: #bababa;
}
.form-radio__control-input:disabled ~ span {
  opacity: 30%;
}
@media (min-width: 768px) {
  .form-radio {
    min-width: 630px;
    min-height: 200px;
    margin-bottom: 72px;
  }
  .form-radio__list {
    padding: 29px 20px 30px 20px;
    border: 1px solid #e7e7e7;
  }
  .form-radio__item {
    font-size: 20px;
    line-height: 30px;
  }
  .form-radio__item:not(:last-child) {
    margin-bottom: 23px;
  }
  .form-radio__control {
    font-size: 20px;
    line-height: 30px;
    padding-left: 69px;
  }
  .form-radio__control-mark {
    top: -4px;
    left: 9px;
    width: 38px;
    height: 38px;
  }
  .form-radio__control-input[type="radio"]:checked
    ~ .form-radio__control-mark::before,
  .form-radio__control-input[type="radio"]:checked
    ~ .form-radio__control-mark::after {
    top: 9px;
    left: 10px;
    width: 19px;
    height: 19px;
    background-size: 19px 19px;
  }
}
@media (min-width: 1440px) {
  .form-radio {
    min-width: 570px;
    margin: 0;
  }
}
.line__container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.line__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .line {
    position: relative;
  }
  .line::before {
    content: "";
    position: absolute;
    top: 52px;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }
  .line__container {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .line__title {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    padding: 0 40px;
    margin-left: -40px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 54px;
    font-weight: 400;
  }
}
.form-contacts {
  position: relative;
  margin-bottom: 23px;
}
.form-contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.form-contacts__title {
  display: inline-block;
  padding-right: 21px;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}
.form-contacts__title::before {
  content: "";
  position: absolute;
  top: 15px;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
}
.form-contacts__container {
  position: relative;
  display: flex;
  align-items: center;
}
.form-contacts__container:first-child {
  margin-bottom: 8px;
}
.form-contacts__label {
  text-transform: uppercase;
  color: #444444;
  margin-right: 10px;
  font-size: 16px;
  line-height: 18px;
}
.form-contacts__input {
  flex-grow: 1;
  height: 45px;
  border: 1px solid #e7e7e7;
  padding-left: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form-contacts__input:hover {
  border-color: #cdcdcd;
}
.form-contacts__input:focus {
  outline: 2px solid #444444;
}
.form-contacts__input:focus ~ svg {
  color: #68b738;
}
.form-contacts__icon {
  position: absolute;
  color: #000000;
  right: 16px;
  border: none;
}
@media (min-width: 768px) {
  .form-contacts::before {
    content: "";
    position: absolute;
    top: 22px;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }
  .form-contacts {
    margin-bottom: 66px;
  }
  .form-contacts__wrapper {
    width: 632px;
    margin: 0 auto;
    padding-left: 69px;
    padding-right: 67px;
  }
  .form-contacts__title br {
    display: none;
  }
  .form-contacts__title {
    padding-left: 39px;
    padding-right: 42px;
    margin-left: -39px;
    margin-bottom: 77px;
    background-color: #ffffff;
    font-size: 36px;
    line-height: 36px;
  }
  .form-contacts__title::before {
    content: none;
  }
  .form-contacts__container {
    display: flex;
  }
  .form-contacts__container:first-child {
    margin-bottom: 24px;
  }
  .form-contacts__label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 22px;
  }
  .form-contacts__input {
    height: 45px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid;
    border-color: #e7e7e7;
    padding-left: 20px;
  }
}
@media (min-width: 1440px) {
  .form-contacts {
    margin-bottom: 69px;
  }
  .form-contacts__wrapper {
    width: 1220px;
    padding: 0 110px;
  }
  .form-contacts__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 78px;
  }
  .form-contacts__container:first-child {
    margin: 0;
  }
  .form-contacts__input {
    height: 45px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid;
    border-color: #e7e7e7;
    padding-left: 20px;
  }
  .form-contacts__icon {
    right: 20px;
  }
}
.form-comment {
  position: relative;
  margin-bottom: 21px;
}
.form-comment__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.form-comment__title {
  display: inline-block;
  padding-right: 21px;
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 38px;
  font-weight: 400;
}
.form-comment__title::before {
  content: "";
  position: absolute;
  top: 14px;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
}
.form-comment__textarea {
  min-width: 274px;
  min-height: 143px;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form-comment {
    margin-bottom: 62px;
  }
  .form-comment::before {
    content: "";
    position: absolute;
    top: 22px;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }
  .form-comment__wrapper {
    width: 632px;
    margin: 0 auto;
    padding-left: 69px;
    padding-right: 67px;
  }
  .form-comment__title {
    padding-left: 39px;
    padding-right: 38px;
    margin-left: -39px;
    background-color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
  .form-comment__title::before {
    content: none;
  }
  .form-comment__textarea {
    min-width: 626px;
    min-height: 168px;
    font-size: 24px;
    line-height: 26px;
    border: 1px solid #e7e7e7;
  }
}
@media (min-width: 1440px) {
  .form-comment {
    margin-bottom: 64px;
  }
  .form-comment__wrapper {
    width: 1220px;
    padding: 0 110px;
  }
  .form-comment__textarea {
    width: 1214px;
    min-height: 169px;
    font-size: 24px;
    line-height: 26px;
    border: 1px solid #e7e7e7;
  }
}
.form-checkbox {
  position: relative;
  margin-bottom: 32px;
}
.form-checkbox__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.form-checkbox__title {
  display: inline-block;
  padding-right: 21px;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 39px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}
.form-checkbox__title::before {
  content: "";
  position: absolute;
  top: 14px;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
}
.form-checkbox__list {
  margin-bottom: 38px;
}
.form-checkbox__item:not(:last-child) {
  margin-bottom: 25px;
}
.form-checkbox__control {
  position: relative;
  display: block;
  padding-left: 46px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}
.form-checkbox__control-mark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
}
.form-checkbox__control-input[type="checkbox"]:checked
  ~ .form-checkbox__control-mark::before,
.form-checkbox__control-input[type="checkbox"]:checked
  ~ .form-checkbox__control-mark::after {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 18px;
  height: 14px;
  content: "";
  background-image: url("../images/form/checkbox/check-icon.svg");
  background-repeat: no-repeat;
}
.form-checkbox__control-input:hover ~ span {
  border-color: #bababa;
}
.form-checkbox__control-input:disabled ~ span {
  opacity: 30%;
}
.form-checkbox__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  min-height: 40px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #68b738;
  text-transform: uppercase;
  padding: 7px 44px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;
}
.form-checkbox__link:hover {
  background-color: #5eaa2f;
}
.form-checkbox__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
.form-checkbox__description-field {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .form-checkbox::before {
    content: "";
    position: absolute;
    top: 22px;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }
  .form-checkbox {
    margin-bottom: 76px;
  }
  .form-checkbox__wrapper {
    width: 632px;
    margin: 0 auto;
    padding-left: 69px;
    padding-right: 67px;
  }
  .form-checkbox__title {
    padding-left: 40px;
    padding-right: 41px;
    margin-left: -40px;
    background-color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 62px;
  }
  .form-checkbox__title::before {
    content: none;
  }
  .form-checkbox__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px 57px;
    margin-bottom: 59px;
  }
  .form-checkbox__item:not(:last-child) {
    margin: 0;
  }
  .form-checkbox__control {
    padding-left: 59px;
  }
  .form-checkbox__control-mark {
    width: 39px;
    height: 39px;
  }
  .form-checkbox__control-label {
    font-size: 20px;
    line-height: 30px;
  }
  .form-checkbox__control-input[type="checkbox"]:checked
    ~ .form-checkbox__control-mark::before,
  .form-checkbox__control-input[type="checkbox"]:checked
    ~ .form-checkbox__control-mark::after {
    top: 12px;
    left: 8px;
    width: 24px;
    height: 19px;
    background-size: 24px 19px;
  }
  .form-checkbox__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 61px;
    align-items: center;
  }
  .form-checkbox__link {
    margin: 0;
    font-size: 20px;
    min-height: 51px;
  }
  .form-checkbox__description-field {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .form-checkbox {
    margin-bottom: 86px;
  }
  .form-checkbox__wrapper {
    width: 1220px;
    padding: 0 110px;
  }
  .form-checkbox__list {
    display: grid;
    grid-template-columns: 222px 222px 221px 243px;
    gap: 0 104px;
    margin-bottom: 66px;
  }
  .form-checkbox__container {
    grid-template-columns: 568px 181px;
    gap: 0 83px;
  }
}
