.benefits__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 380px;
}

.benefits__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.benefits__list {
  padding-top: 20px;
  padding-bottom: 53px;
}

.benefits__item {
  display: flex;
  align-items: center;
}

.benefits__item:not(:last-child) {
  margin-bottom: 24px;
}

.benefits__item--1::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-1.svg");
  background-repeat: no-repeat;
}

.benefits__item--2::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-2.svg");
  background-repeat: no-repeat;
  top: -2px;
}

.benefits__item--3::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-3.svg");
  background-repeat: no-repeat;
  top: -2px;
}

.benefits__item--4::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-4.svg");
  background-repeat: no-repeat;
  top: -2px;
}

.benefits__description {
  font-family: @ff-lato;
  color: @dark-grey;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .benefits__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .benefits__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }

  .benefits__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 153px;
  }

  .benefits__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 230px;
    min-height: 240px;
  }

  .benefits__item::before {
    margin-bottom: 31px;
  }

  .benefits__item--1::after {
    position: absolute;
    content: "1";
    font-size: 280px;
    line-height: 280px;
    color: @basic-grey;
    width: 112px;
    background-repeat: no-repeat;
    top: -2px;
    right: -2px;
    z-index: -1;
  }

  .benefits__item--2::after {
    position: absolute;
    content: "2";
    font-size: 280px;
    line-height: 280px;
    color: @basic-grey;
    width: 134px;
    background-repeat: no-repeat;
    top: -2px;
    right: -2px;
    z-index: -1;
  }

  .benefits__item--3::after {
    position: absolute;
    content: "3";
    font-size: 280px;
    line-height: 280px;
    color: @basic-grey;
    width: 134px;
    background-repeat: no-repeat;
    top: -2px;
    right: -2px;
    z-index: -1;
  }

  .benefits__item--4::after {
    position: absolute;
    content: "4";
    font-size: 280px;
    line-height: 280px;
    color: @basic-grey;
    width: 136px;
    background-repeat: no-repeat;
    top: -2px;
    right: -2px;
    z-index: -1;
  }

  .benefits__description {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .benefits__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
  }

  .benefits__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 94px;
  }
}
