.benefits__wrapper {
  margin: 0;
  padding: 20px 20px 49px 20px;
  width: 280px;
  min-height: 380px;
}

.benefits__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.benefits__item {
  position: relative;
}

.benefits__item:not(:last-child) {
  margin-bottom: 24px;
}

.benefits__item--1::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-1.svg");
  background-repeat: no-repeat;
  top: -2px;
}

.benefits__item--2::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-2.svg");
  background-repeat: no-repeat;
  top: -2px;
}

.benefits__item--3::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-3.svg");
  background-repeat: no-repeat;
  top: -2px;
}

.benefits__item--4::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-4.svg");
  background-repeat: no-repeat;
  top: -2px;
}

.benefits__description {
  font-family: @ff-lato;
  color: @dark-grey;
  margin: 0;
  padding-left: 88px;
  font-size: 14px;
  line-height: 18px;
}
