.benefits__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 380px;
}

.benefits__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.benefits__list {
  padding-top: 20px;
  padding-bottom: 50px;
}

.benefits__item {
  display: flex;
  align-items: center;
}

.benefits__item:not(:last-child) {
  margin-bottom: 20px;
}

.benefits__item--1::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-1.svg");
  background-repeat: no-repeat;
}

.benefits__item--2::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-2.svg");
  background-repeat: no-repeat;
  top: -2px;
}

.benefits__item--3::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-3.svg");
  background-repeat: no-repeat;
  top: -2px;
}

.benefits__item--4::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/index/benefits/benefits-image-4.svg");
  background-repeat: no-repeat;
  top: -2px;
}

.benefits__description {
  font-family: @ff-lato;
  color: @dark-grey;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  padding-left: 20px;
  max-width: 199px;
}

.mobile-transfer {
  display: block;
}

.tablet-transfer {
  display: none;
}

@media (min-width: @tablet-width) {
  .benefits {
    margin-bottom: 69px;
  }

  .benefits__wrapper {
    width: 708px;
    padding: 0 30px;
    padding-top: 15px;
  }

  .benefits__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 28px;
  }

  .benefits__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 64px;
    padding: 0;
  }

  .benefits__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 230px;
    min-height: 280px;
  }

  .benefits__item:not(:last-child) {
    margin: 0;
  }

  .benefits__item--1::before {
    width: 80px;
    height: 80px;
    background-image: url("../images/index/benefits/benefits-image-1-tablet.svg");
    margin-top: 43px;
  }

  .benefits__item--2::before {
    width: 80px;
    height: 80px;
    background-image: url("../images/index/benefits/benefits-image-2-tablet.svg");
    margin-top: 43px;
  }

  .benefits__item--3::before {
    width: 80px;
    height: 80px;
    background-image: url("../images/index/benefits/benefits-image-3-tablet.svg");
    margin-top: 43px;
  }

  .benefits__item--4::before {
    width: 80px;
    height: 80px;
    background-image: url("../images/index/benefits/benefits-image-4-tablet.svg");
    margin-top: 43px;
  }

  .benefits__item--1::after {
    position: absolute;
    content: "1";
    font-size: 280px;
    line-height: 280px;
    color: @basic-grey;
    width: 112px;
    background-repeat: no-repeat;
    top: 4px;
    right: 90px;
    z-index: -1;
  }

  .benefits__item--2::after {
    position: absolute;
    content: "2";
    font-size: 280px;
    line-height: 280px;
    color: @basic-grey;
    width: 134px;
    background-repeat: no-repeat;
    top: 4px;
    right: 77px;
    z-index: -1;
  }

  .benefits__item--3::after {
    position: absolute;
    content: "3";
    font-size: 280px;
    line-height: 280px;
    color: @basic-grey;
    width: 134px;
    background-repeat: no-repeat;
    top: 4px;
    right: 73px;
    z-index: -1;
  }

  .benefits__item--4::after {
    position: absolute;
    content: "4";
    font-size: 280px;
    line-height: 280px;
    color: @basic-grey;
    width: 136px;
    background-repeat: no-repeat;
    top: 4px;
    right: 73px;
    z-index: -1;
  }

  .benefits__description {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    min-width: 345px;
  }

  .mobile-transfer {
    display: none;
  }

  .tablet-transfer {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .benefits {
    margin-bottom: 61px;
  }

  .benefits__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
  }

  .benefits__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 80px;
  }

  .benefits__item--1::after {
    right: 15px;
  }

  .benefits__item--2::after {
    right: 0;
  }

  .benefits__item--3::after {
    right: -2px;
  }

  .benefits__item--4::after {
    right: -5px;
  }
}
