.example__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: @gray-3;
}

.example__container {
  padding: 25px 20px 20px 20px;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: @ff-lato;
  color: @dark-grey;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.example__list {
  display: flex;
  text-align: center;
  margin: 0;
  margin-left: 42px;
  margin-bottom: 20px;
}

.example__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.example__item:not(:last-child) {
  margin-right: 50px;
}

.example__number {
  font-family: @ff-oswald;
  font-size: 24px;
  line-height: 24px;
}

.example__description-2 {
  margin: 0;
  font-family: @ff-lato;
  font-size: 12px;
  line-height: 12px;
  color: @dark-grey;
}

.example__expences {
  margin: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: @white;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    width: 1440px;
    margin: 0 auto;
    background-color: @gray-3;
  }

  .example__container {
    padding: 0 0 0 110px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    width: 435px;
    font-size: 18px;
    line-height: 24px;
  }
}

