.example {
  background-color: @gray-3;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.example__container {
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__title {
  margin: 0;
  margin-bottom: 16px;
  padding-left: 20px;
  padding-top: 23px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: @ff-lato;
  color: @dark-grey;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.example__list {
  display: grid;
  grid-template-columns: 124px 124px;
  gap: 0 32px;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 10px;
  border: 1px solid @special-grey;
  border-radius: 3px;
}

.example__number {
  font-family: @ff-oswald;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__description-2 {
  margin: 0;
  font-family: @ff-lato;
  font-size: 12px;
  line-height: 12px;
  color: @dark-grey;
  position: absolute;
  top: 47px;
  padding: 0 15px;
  background-color: @gray-3;
}

.example__expences-container {
  display: flex;
  justify-content: center;
}

.example__expences {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-right: 7px;
  text-align: center;
  text-transform: uppercase;
}

.example__expences-2 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.example__image-container {
  position: relative;
  width: 280px;
  min-height: 256px;
  padding-bottom: 21px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .example {
    padding-bottom: 100px;
  }

  .example__wrapper {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
    background-image: linear-gradient(to bottom, @white 478px, @gray-3 195px);
  }

  .example__title-container {
    background-color: @white;
  }

  .example__title {
    padding-left: 30px;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 39px;
    margin: 0;
  }

  .example__description {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__description-2 {
    background-color: @white;
    top: 63px;
    max-width: 125px;
    font-size: 14px;
    line-height: 14px;
  }

  .example__description-2 br {
    display: none;
  }

  .example__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .example__list {
    display: grid;
    grid-template-columns: 164px 164px;
    gap: 0 42px;
    margin: 0;
    margin-bottom: 55px;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
  }

  .example__expences-container {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .example__expences {
    font-size: 20px;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 9px;
    margin-right: 2px;
  }

  .example__expences-2 {
    font-size: 20px;
    line-height: 20px;
    margin-right: 2px;
  }

  .example__image-container {
    padding: 0;
    width: 560px;
    min-height: 523px;
  }

  .example__image {
    width: 560px;
    height: 512px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-color: @gray-3;
    margin: 0;
    padding: 0;
  }

  .example__title-container {
    background-color: @white;
    min-height: 136px;
    margin-bottom: 70px;
    z-index: -1;
  }

  .example__title {
    padding: 0;
    padding-left: 110px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
    background-color: @gray-3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 224px;
    background-image: none;
  }

  .example__container {
    padding: 0;
  }

  .example__description {
    width: 432px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 66px;
  }

  .example__description br {
    display: none;
  }

  .example__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .example__list {
    display: grid;
    grid-template-columns: 162px 162px;
    gap: 55px 42px;
    margin-bottom: 63px;
  }

  .example__description-2 {
    background-color: @gray-3;
  }

  .example__expences-container {
    display: grid;
    grid-template-columns: 174px 92px;
    gap: 0 63px;
  }

  .example__expences {
    margin: 0;
  }

  .example__image-container {
    min-height: 390px;
  }
}
