.service__container {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 30px 33px 20px 20px;
  width: 280px;
  min-height: 256px;
  box-sizing: border-box;
  background-color: @basic-grey;
}

.service__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @black;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.service__description {
  margin: 0;
  margin-bottom: 23px;
  font-family: @ff-lato;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}

.service__link {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
