.service__wrapper {
  width: 320px;
  margin: 0 auto;
}

.service__container {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 30px 33px 20px 20px;
  min-height: 256px;
  box-sizing: border-box;
  background-color: @basic-grey;
}

.service__title {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @black;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.service__title::before {
  display: inline-block;
  margin-right: 19px;
  content: "";
  width: 50px;
  height: 53px;
  background-image: url("../images/index/service/service-image-1.svg");
  background-repeat: no-repeat;
}

.service__title--2::before {
  display: inline-block;
  margin-right: 11px;
  content: "";
  width: 67px;
  height: 50px;
  background-image: url("../images/index/service/service-image-2.svg");
  background-repeat: no-repeat;
}

.service__description {
  margin: 0;
  margin-bottom: 23px;
  font-family: @ff-lato;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}

.service__link {
  position: relative;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.service__link::after {
  position: absolute;
  display: inline-block;
  top: 6px;
  right: -82px;
  content: "";
  width: 67px;
  height: 50px;
  background-image: url("../images/index/service/service-image-arrow.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .service__wrapper {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .service__container {
    margin-bottom: 30px;
    padding: 77px 316px 53px 52px;
    min-height: 372px;
    box-sizing: border-box;
    background-color: @basic-grey;
  }

  .service__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }

  .service__description {
    font-size: 16px;
    line-height: 24px;
  }
}


@media (min-width: @desktop-width) {
  .service__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    width: 1220px;
  }

  .service__container {
    margin-bottom: 71px;
    padding: 77px 61px 55px 52px;
    min-width: 570px;
    min-height: 374px;
    box-sizing: border-box;
    background-color: @basic-grey;
  }
}
