@white: #ffffff;
@black: #000000;
@black-2: #111111;
@black-30: rgba(0, 0, 0, 0.3);
@black-60: rgba(0, 0, 0, 0.6);
@green: #68B738;
@green-2: #5EAA2F;
@basic-grey: #F2F2F2;
@gray-2: #EBEBEB;
@gray-3: #EAEAEA;
@gray-4: #E7E7E7;
@dark-grey: #444444;
@dark-grey-2: #C4C4C4;
@dark-grey-3: #222222;


@ff-oswald: "Oswald", "Arial", sans-serif;
@ff-lato: "Lato Regular", "Arial", sans-serif;


@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
