.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
}

.contacts__container {
  display: flex;
  min-height: 112px;
  box-sizing: border-box;
  padding: 26px 20px;
}

.contacts__description {
  width: 139px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts__text {
  margin: 0;
  width: 139px;
  font-family: @ff-lato;
}

.contacts__map-wrapper {

}

.contacts__map {
  width: 100%;
}


@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 768px;
  }

  .contacts__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 199px;
    width: 708px;
    padding: 56px 70px 55px 70px;
  }

  .contacts__description {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 20px;
  }

}
