.contacts {
  position: relative;
  background-color: @basic-grey;
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 26px 0;
}

.contacts__description {
  max-width: 139px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @black-2;
  text-transform: uppercase;
}

.contacts__text {
  margin: 0;
  max-width: 139px;
  font-family: @ff-lato;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
}

.contacts__text-2 {
  margin: 0;
  max-width: 139px;
  font-family: @ff-lato;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
}

iframe {
  border: 0;
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 708px;
    padding: 0 30px;
    padding-bottom: 19px;
  }

  .contacts__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 55px 40px 41px 39px;
  }

  .contacts__description {
    font-size: 20px;
    line-height: 26px;
    max-width: max-content;
    padding-top: 6px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 20px;
    max-width: max-content;
  }

  .contacts__text-2 {
    margin: 0;
    text-align: right;
    font-family: @ff-lato;
    font-size: 16px;
    line-height: 20px;
    color: @dark-grey;
    max-width: 157px;
  }

  iframe {
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    top: 97px;
    left: 110px;
    width: 565px;
    min-height: 198px;
    padding: 0;
  }

  .contacts__container {
    padding: 55px 80px 58px 80px;
    background-color: @white;
  }

  .contacts__container--another-page {
    padding: 53px 80px 43px;
  }

  .contacts__text {
    text-align: left;
  }

  .contacts__text--another-page {
    max-width: 155px;
    margin: 0;
  }

  .contacts__text-2 {
    text-align: left;
  }

  .contacts__text-2--another-page {
    max-width: 127px;
  }
}
