.contacts {
  position: relative;
  background-color: @white;
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts__container {
  display: flex;
  box-sizing: border-box;
  padding: 26px 0;
}

.contacts__description {
  width: 139px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @black-2;
  text-transform: uppercase;
}

.contacts__text {
  margin: 0;
  width: 139px;
  font-family: @ff-lato;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
}

.contacts__text-2 {
  margin: 0;
  font-family: @ff-lato;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
}

iframe {
  border: 0;
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .contacts__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 54px 40px 55px 39px;
  }

  .contacts__description {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 20px;
    min-width: 159px;
  }

  .contacts__text-2 {
    margin: 0;
    text-align: right;
    font-family: @ff-lato;
    font-size: 16px;
    line-height: 20px;
    color: @dark-grey;
  }

  iframe {
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    top: 90px;
    left: 110px;
    width: 565px;
    min-height: 198px;
    padding: 0;
  }

  .contacts__container {
    padding: 60px 80px 58px 80px;
    background-color: @white;
  }

  .contacts__text-container {

  }

  .contacts__text {
    text-align: left;
  }

  .contacts__text-2 {
    text-align: left;
  }
}
