.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.main-footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95px;
}

.main-footer__copyright {
  display: flex;
  min-height: 78px;
}

