.main-header {
  background-color: @white;
  font-family: @ff-oswald;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  min-height: 66px;
}

.main-header__wrapper {
  position: relative;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 65px;
}

.main-header__logo {
  margin-right: 56px;
}

.main-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  padding: 0;
  width: 70px;
  height: 50px;
  background-color: @white;
  cursor: pointer;
  border: none;
}

.main-header__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 17px;
  width: 36px;
  height: 1.5px;
  background-color: @black;
  border: none;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
  }

  .main-header__box {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 177px 495px;
    gap: 0 35px;
    align-items: center;
  }

  .main-header__wrapper {
    padding: 0;
    width: auto;
  }

  .main-header__logo {
    margin: 0;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    min-height: 133px;
    background-color: inherit;
  }

  .main-header__box {
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 201px 497px;
    gap: 0 521px;
    align-items: center;
  }
}
