
.main-nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    margin: 0 auto;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 534px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    z-index: 2;
  }

  .main-nav__wrapper {
    width: 500px;
    justify-content: space-between;
  }

  .main-nav__list {
    z-index: 1;
  }
}
