.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.main-footer__logo {
  padding: 39px 96px 32px 96px;
}

.socials__list {
  display: flex;
  margin: 0;
  margin-left: 95px;
}

.socials__item:not(:last-child) {
  margin-right: 26px;
}

.main-footer__copyright {
  display: flex;
  padding: 22px 19px;
}

.copyright__link {
  font-family: @ff-lato;
  font-size: 16px;
  line-height: 20px;
  color: @dark-grey;
}

.copyright__icon {
  margin-left: 141px;
}
