.main-header {
  display: flex;
  flex-direction: row;
  background-color: @white;
  font-family: @ff-oswald;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  margin: 0 auto;
}

.main-header__logo {
  margin-left: 20px;
  margin-right: 57px;
}

.main-header__logo-2 {
  margin-right: 65px;
}

@media (min-width: @tablet-width) {
  .main-header {
    width: 768px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
  }

  .main-header__logo {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: 1200px;
    padding: 0 110px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
