.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 63px;
}

.socials__item:not(:last-child) {
  margin-right: 29px;
}

.socials__icon {
  color: @special-grey-2;
}

.socials__link:hover .socials__icon {
  color: @green;
}

.socials__link:disabled .socials__icon {
  opacity: 30%;
}

@media (min-width: @tablet-width) {
  .socials__list {
    margin-top: 6px;
  }
}
