.socials__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 24px 22px 18px 18px;
}

.socials__item:not(:last-child) {
  margin-right: 29px;
}

.socials__icon {
  color: @special-grey-2;
}

.socials__link:hover .socials__icon {
  color: @green;
}

.socials__link:disabled .socials__icon {
  opacity: 30%;
}

@media (min-width: @tablet-width) {
  .socials__list--catalog {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .socials__list {
    margin: 0;
    padding: 21px 22px 18px 18px;
  }
}
