.additional-products__wrapper {
  width: 320px;
  margin: 0 auto;
}

.additional-products__value {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}

.additional-products__term {
  font-family: @ff-lato;
  font-size: 14px;
  line-height: 14px;
  color: @dark-grey;
  margin-bottom: 15px;
}

.additional-products__description {
  font-family: @ff-lato;
  font-size: 14px;
  line-height: 14px;
  margin-left: auto;
  padding: 0;
  color: @dark-grey;
}

.additional-products__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  color: @white;
  background-color: @green;
  text-transform: uppercase;
  padding: 10px 124px;
  margin-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .additional-products__list {
    margin-bottom: 69px;
  }

  .additional-products__item {
    display: grid;
    grid-template-columns: 336px 132px 42px;
    grid-template-rows: min-content min-content;
    gap: 25px 49px;
  }

  .additional-products__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .additional-products__value {
    margin: 0;
  }

  .additional-products__term {
    margin: 0;
  }

  .additional-products__description {
    margin: 0;
  }

  .additional-products__button {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

@media (min-width: @desktop-width) {
  .additional-products__item {
    display: grid;
    grid-template-columns: 281px 161px 42px 244px;
    grid-template-rows: min-content min-content;
    gap: 0 40px;
  }

  .additional-products__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .additional-products__value {
    display: flex;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .additional-products__term {
    display: flex;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .additional-products__description {
    display: flex;
    align-items: center;
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .additional-products__button {
    width: 100%;
    grid-column: 4/5;
    margin: 0;
  }
}
