.additional-products__wrapper {
  width: 320px;
  margin: 0 auto;
}

.additional-products__container {
  width: 280px;
}

.additional-products__value {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}

.additional-products__definition {
  display: flex;
  margin: 0;
  padding: 0;
}

.additional-products__term {
  font-family: @ff-lato;
  font-size: 14px;
  line-height: 14px;
  color: @dark-grey;
  margin-bottom: 15px;
}

.additional-products__description {
  font-family: @ff-lato;
  font-size: 14px;
  line-height: 14px;
  margin-left: auto;
  padding: 0;
  color: @dark-grey;
}

.additional-products__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  color: @white;
  background-color: @green;
  text-transform: uppercase;
  padding: 10px 124px;
  margin-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .additional-products__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 54px 0;
    padding: 26px 38px 28px 38px;
  }

  .additional-products__container {
    display: grid;
    grid-template-columns: 336px 132px 42px;
    grid-template-rows: 20px 40px;
    gap: 25px 49px;
  }

  .additional-products__definition {
    display: flex;
    width: 223px;
  }

  .additional-products__button {
    width: 608px;
    grid-row: 2/3;
  }
}

@media (min-width: @desktop-width) {
  .additional-products__container {
    display: grid;
    grid-template-columns: 281px 161px 42px 244px;
    gap: 0 40px;
  }

  .additional-products__list {
    padding: 0;
  }

  .additional-products__button {
    width: 244px;
    grid-column: 4/5;
  }
}
