.products__wrapper {
  width: 320px;
  margin: 0 auto;
}

.products__list {
  margin: 0;
}

.products__item {
  margin-bottom: 19px;
  padding: 11px 20px 14px 20px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .products__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .products__item {
    width: 324px;
    margin: 0;
    padding: 0 36px 36px 40px;
  }
}

@media (min-width: @desktop-width) {
  .products__wrapper {
    width: 1220px;
    padding: 0 110px;
  }

  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 62px 80px;
  }

  .products__item {
    width: 324px;
    margin: 0;
    padding: 0 38px 40px 39px;
  }
}
