.product__container {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.product__image-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 140px;
  min-height: 112px;
}

.product--show-more {
  position: relative;
  padding-top: 71px;
}

.product--show-more::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 31px;
  left: 125px;
  background-color: @gray-6;
}

.product--show-more::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 31px;
  left: 125px;
  background-color: @gray-6;
  transform: rotate(90deg);
}

.product__item-container {
  min-width: 140px;
}

.product__description {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product__list-definition {
  margin: 0;
}

.product__list-container {
  display: flex;
}

.product__list-term {
  font-family: @ff-lato;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.product__list-description {
  font-family: @ff-lato;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
  margin: 0;
  margin-left: auto;
}

.product__link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  min-height: 40px;
  box-sizing: border-box;
  color: @white;
  background-color: @green;
  text-transform: uppercase;
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: @green-2;
  }

  &:active {
    color: @white30;
    background-color: @green-2;
  }
}

.product__container--show-more {
  width: 279px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.product__description--show-more {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  text-align: center;
}

.product__more-description--show-more {
  font-family: @ff-lato;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
}

.product__show-button {
  font-family: @ff-oswald;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 279px;
  min-height: 40px;
  box-sizing: border-box;
  color: @dark-grey;
  background-color: @basic-grey;
  text-transform: uppercase;
  padding: 10px 94px;
  border: none;
}

@media (min-width: @tablet-width) {
  .product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .product:nth-child(7) {
    padding-top: 30px;
  }

  .product--show-more {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .product--show-more::before {
    width: 60px;
    top: 156px;
    left: 132px;
  }

  .product--show-more::after {
    width: 60px;
    top: 155px;
    left: 133px;
  }

  .product__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
  }

  .product__container--show-more {
    width: 165px;
    margin: 0;
    padding-top: 80px;
  }

  .product__image-container {
    width: 100%;
    justify-content: center;
    margin-bottom: 29px;
  }

  .product__image {
    width: 161px;
    height: 172px;
  }

  .product__image--big {
    width: 168px;
    height: 206px;
  }

  .product__image--violet {
    width: 163px;
    height: 174px;
  }

  .product__item-container {
    width: 244px;
  }

  .product__description {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    max-width: 159px;
    margin: 0;
    margin-left: 44px;
    margin-bottom: 21px;
  }

  .product__description br {
    display: none;
  }

  .product__more-description {
    font-family: @ff-lato;
    font-size: 16px;
    line-height: 18px;
    max-width: 165px;
    margin: 0;
    margin-left: 40px;
  }

  .product__more-description--show-more {
    margin-bottom: 86px;
  }

  .product__list-term {
    font-family: @ff-lato;
    font-size: 16px;
    line-height: 16px;
  }

  .product__list-description {
    font-family: @ff-lato;
    font-size: 16px;
    line-height: 16px;
  }

  .product__list-definition {
    margin: 0;
  }

  .product__list-definition:not(:last-child) {
    margin-bottom: 14px;
  }

  .product__link-button {
    margin: 0 auto;
    width: 248px;
    padding: 10px 93px;
  }

  .product__show-button {
    width: 249px;
    padding: 20px 79px;

    &:hover {
      background-color: @gray-2;
    }

    &:active {
      color: @dark-grey-30;
      background-color: @gray-2;
    }
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: 245px;
  }

  .product__image-container {
    margin-bottom: 44px;
  }

  .product__image--big {
    width: 172px;
    height: 196px;
  }

  .product--show-more::before {
    top: 76px;
    left: 94px;
  }

  .product--show-more::after {
    top: 75px;
    left: 94px;
  }

  .product__item-container {
    width: 167px;
  }

  .product__description {
    max-width: 159px;
    font-size: 20px;
    line-height: 21px;
    margin: 0;
    margin-left: 9px;
    margin-bottom: 25px;
  }

  .product__link-button {
    margin: 0 auto;
    width: 168px;
    padding: 10px 53px;
  }

  .product__show-button {
    width: 169px;
    padding: 20px 39px;
  }
}
