.form-checkbox {
  padding: 20px;
}

.form-checkbox__title {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.form-checkbox__list {
  margin-bottom: 40px;
}

.form-checkbox__item:not(:last-child) {
  margin-bottom: 19px;
}

.form-checkbox__control {
  margin-left: 46px;
  text-transform: uppercase;
}

.form-checkbox__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  min-height: 40px;
  box-sizing: border-box;
  color: @white;
  background-color: @green;
  text-transform: uppercase;
  padding: 7px 44px;
}

@media (min-width: @tablet-width) {
  .form-checkbox {
    width: 533px;
    padding: 0;
  }

  .form-checkbox__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }

  .form-checkbox__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 64px;
  }

  .form-checkbox__item:not(:last-child) {
    margin: 0;
  }

  .form-checkbox__control-label {
    font-size: 20px;
    line-height: 30px;
  }

  .form-checkbox__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 64px;
  }

  .form-checkbox__link {
    font-size: 20px;
  }

  .form-checkbox__description-field {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form-checkbox {
    width: 1200px;
  }

  .form-checkbox__list {
    width: 997px;
    display: flex;
    justify-content: space-between;
  }
}

