.form-comment {
  padding: 0 20px 22px 20px;
}

.form-comment__title {
  margin: 0;
  margin-bottom: 38px;
}

.form-comment__textarea {
  width: 280px;
  min-height: 151px;
  border: 1px solid @gray-4;
}
