.form-radio {
  min-height: 116px;
  padding: 0 20px 20px 20px;
}

.form-radio__item:not(:last-child) {
  margin-bottom: 19px;
}

.form-radio__control-label {
  margin-left: 15px;
  text-transform: uppercase;
  color: @dark-grey-3;
}

@media (min-width: @tablet-width) {
  .form-radio {
    min-width: 630px;
    min-height: 200px;
  }

  .form-radio__item {
    font-size: 20px;
    line-height: 30px;
  }
}
